{% extends 'baseBack.html.twig' %}

{% block title %}Edit Depense{% endblock %}

{% block body %}

    {{ include('seance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('seance_index') }}"class="btn btn-info">back to list</a>

{% endblock %}
